html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  html, body, #root {
    height: 100%
  }

  
header{
    background-color: #ECE9F1;
    width: 1512px;
}
.titulo-header {
    font-size: 30px;
    color: #373867;
    left: 700px;
    position: relative;
    bottom: 100px;
    
}
.subtitulo-header{
    color: #373867;
    left: 800px;
    position: relative;
    bottom: 100px;
}
nav{
    background-color: #373867;
    position: sticky;
    height: 5400px;
    width: 212px;
    text-align: center;
    top: 15px;
}

.article-banner{
  left: 212px;
  position: relative;
  bottom: 5400px;
  width: 1300px;
}
.article-banner img{
  width: 1300px;
  height: 600px;
}
.article-banner h2 {
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 50px;
  color: white;
}
#p-banner1{
  color: white;
  position: absolute;
  font-size: 20px;
  top: 300px;
  left: 400px;
}
#p-banner2{
  color: white;
  position: absolute;
  font-size: 20px;
  top: 350px;
  left: 400px;
}
#p-banner3{
  color: white;
  position: absolute;
  font-size: 20px;
  top: 400px;
  left: 460px;
}



.article-join{
  background-color: white;
  left: 212px;
  padding: 100px;
  position: relative;
  bottom: 5400px;
  width: 1300px;
  font-size: 25px;
}
.article-join h2{
  font-size: 40px;
}
.article-join img {
  width: 400px;
  left: 500px;
  top: 100px;
}

.section-images{
  background-color: white;
  left: 212px;
  position: relative;
  bottom: 5400px;
  width: 1300px;
  font-size: 25px;
}
.section-images h2{
  font-size: 50px;
  background-color: #373867;
  width: 555px;
  color: white;
}

.section-memb{
  background-color: aqua;
  left: 212px;
  position: relative;
  bottom: 5400px;
  width: 1300px;
  font-size: 25px;
}
.section-memb h2{
  font-size: 50px;
  background-color: #373867;
  width: 800px;
  color: white;
}

.section-res{
  background-color: #AACE9B;
  left: 212px;
  position: relative;
  bottom: 5400px;
  width: 1300px;
  font-size: 25px;
  color: white;
}
.section-res h2{
  font-size: 50px;
  width: 450px;
  color: white;
}

.forms{
  background-color: #ECE9F1;
  left: 212px;
  position: relative;
  bottom: 5400px;
  width: 600px;
  height: 800px;
  font-size: 25px;
  padding: 350px;
}
.forms-1{
  background-color: white;
  width: 600px;
  height: 800px;
}

.footer{
  background-color: #D9D9D9;
  position: relative;
  bottom: 5400px;
  width: 1512px;
  font-size: 25px;
  color: white;
  text-align: center;
}
.footer-1{
  background-color: white;
  text-align: center;
  padding: 15px;
}
